
.boxess{
    height: 474px;
    width: 500px;
    border: 10px solid black;
}
.color1{
    width: 60px;
    height: 55px;
    background-color: rgb(47, 66, 63)
}
.color2{
    width: 60px;
    height: 55px;
    background-color: rgb(177,143,99)   
}


